{% extends 'baseLayout.html' %}

{% block content %}

<div>
    <h1 class="adminbus">Add Available Routes</h1>
</div>
<div class="busdiv">
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter rID" name="rid"class='busformchange'>
    <input type="text" placeholder="Enter bID" name="bid"class='busformchange'>
    <input type="date" placeholder="Enter jDate" name="date"class='busformchange'>
    <input type="time" placeholder="Enter jTime" name="time"class='busformchange'>
    <button type="submit" class="busformchangebut">Add</button>
</form>
</div>
<br><br>
<p class="busfont">{{route.all}}</p>
<p class="busfont">{{route.error}}</p>
<p class="busfont">{{addaroute.all}}</p>

<a href="{% url 'avail' %}" class="bushref">Go back?</a>
{% endblock %}