{% extends 'baseLayout.html' %}

{% block content %}

<div>
    <h1 class="adminbus">Add Bus</h1>
</div>
<div class="busdiv">
<form action="{% url 'busadd' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter bID" name="bid" class="busformchange">
    <input type="text" placeholder="Enter busType" name="bustype"class='busformchange'>
    <input type="number" placeholder="Enter seats" name="seats"class='busformchange'>
    <input type="number" placeholder="Enter cost" name="cost"class='busformchange'>
    <button type="submit" class="busformchangebut">Add</button>
</form>
</div>
<br><br>
<p class="busfont">{{added.message}}</p>
<p class="busfont">{{added.error}}</p>
<p class="busfont">{{added.bID}}</p>
<p class="busfont">{{added.busType}}</p>
<p class="busfont">{{added.seats}}</p>
<p class="busfont">{{added.costpseat}}</p>
<p class="busfont">{{addbus.error}}</p>
<a href="{% url 'bus' %}" class="bushref">Go back?</a>
{% endblock %}