{% extends 'baseLayout.html' %}

{% block content %}

<div>
    <h1 class="admin">Bus Table Modification Panel</h1>
</div>
{% if buss %}
<table class="table table-striped">
    <thead>
        <td>BUS ID</td>
        <td>BUS TYPE</td>
        <td>Cost Per Seat</td>
    </thead>
{% for bus in buss %}
    <tr>
        <td>{{ bus.bID }}</td>
        <td>{{ bus.busType }}</td>
        <td>{{ bus.costpseat }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <label for="addabus" class="busfont">Add New Bus?</label>
    <button onclick="location.href = '//127.0.0.1:8000/siteadmin/bus/add';"name="addabus" class="busformchangebut">Click Here</button>
</div>

<div class="busdiv">
    <label for="alteraroutes" class="busfont">Change a Bus?</label>


<form action="{% url 'buschange' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter Bid to select"name='bid'class="busformchange">
    <input type="text" placeholder="Enter busType to change to"name='bustype'class="busformchange">
    <input type="number" placeholder="Enter cost to change to" name="cost"class="busformchange">
    <button type="submit" class="busformchangebut">Change</button>
</form>
</div>
<br><br>
<div class="busdiv">
    <label for="deletearoutes" class="busfont">Delete a Bus?</label>

<form action="{% url 'busdelete' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter bus ID to delete" name='bid' class="busformchange">
    <button type="submit" class="busformchangebut">Delete</button>
</form>
</div>
<br><br>
<a href="//127.0.0.1:8000/siteadmin" class="bushref">Go Back?</a>
{% else %}
<p class="busfont">{{changed.message}}</p>
<p class="busfont">{{changed.bustype}}</p>
<p class="busfont">{{changed.seats}}</p>
<p class="busfont">{{changed.cost}}</p>
<p class="busfont">{{deleted.error}}</p>
<p class="busfont">{{deleted.del}}</p>
<p class="busfont">{{deletedabus.error}}</p>
<p class="busfont">{{changedabus.error}}</p>
<a href="//127.0.0.1:8000/siteadmin/bus" class="bushref">Go Back?</a>
{% endif %}
{% endblock %}