{% extends 'baseLayout.html' %}

{% block content %}

<div><h1 class="admin">Route Table Modification Panel</h1></div>

{% if routes %}
<table class="table table-striped">
    <thead>
        <td>Route ID</td>
        <td>Source</td>
        <td>Destination</td>
    </thead>
{% for route in routes %}
<tr>
    <td>{{ route.rID }}</td>
    <td>{{ route.source }}</td>
    <td>{{ route.destination }}</td>
</tr>
{% endfor %}
</table>
<div>
    <label for="addabus" class="busfont">Add New Route?</label>
    <button onclick="location.href = '//127.0.0.1:8000/siteadmin/route/add';"name="addabus" class="busformchangebut">Click Here</button>
</div>

<div class="busdiv">
    <label for="alteraroutes" class="busfont">Change a Route?</label>


<form action="{% url 'routechange' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter Rid to select"name='rid' class="busformchange">
    <input type="text" placeholder="Enter source to change to"name='source' class="busformchange">
    <input type="text" placeholder="Enter destination to change to"name='destination' class="busformchange">
    <button type="submit" class="busformchangebut">Change</button>
</form>
</div>
<br><br>
<div class="busdiv">
    <label for="deletearoutes" class="busfont">Delete a Route?</label>

<form action="{% url 'routedelete' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter Route ID to delete" name='rid' class="busformchange">
    <button type="submit" class="busformchangebut">Delete</button>
</form>
</div>
<br><br>
<a href="//127.0.0.1:8000/siteadmin" class="bushref">Go back?</a>
{% else %}
<p class="busfont">{{changedaroute.error}}</p>
<p class="busfont">{{changed.message}}</p>
<p class="busfont">{{changed.error}}</p>
<p class="busfont">{{changed.source}}</p>
<p class="busfont">{{changed.dest}}</p>
<p class="busfont">{{deletedaroute.error}}</p>
<p class="busfont">{{deleted.rid}}</p>
<p class="busfont">{{deleted.error}}</p>
<a href="{% url 'route' %}" class="bushref">Go back?</a>
{% endif %}
{% endblock %}