{% extends 'baseLayout.html' %}

{% block content %}

<div>
    <h1 class="admin">Ticket Table Modificaton</h1>
</div>

{% if tickets %}
<table class="table table-striped">
    <thead>
        <td>Ticket ID</td>
        <td>BUS ID</td>
        <td>Route ID</td>
        <td>Amount</td>
        <td>Booked</td>
        <td>Status</td>
    </thead>
{% for ticket in tickets %}
<tr>
    <td>{{ ticket.tID }}</td>
    <td>{{ ticket.bID }}</td>
    <td>{{ ticket.rID }}</td>
    <td>{{ ticket.amount }}</td>
    <td>{{ ticket.booked }}</td>
    <td>{{ ticket.status }}</td>
</tr>

{% endfor %}
</table>
<div class="busdiv">
    <label for="alteraroutes" class="busfont">Change a Ticket Status?</label>

<form action="{% url 'ticchange' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter Tid to select"name='tid' class="busformchange">
    <input type="text" placeholder="Enter Status" name="status" class="busformchange">
    <button type="submit" class="busformchangebut">Change</button>
</form>
</div>
<br><br>
<a href="//127.0.0.1:8000/siteadmin" class="bushref">Go Back?</a>
{% else %}
<p class="busfont">{{changed.error}}</p>
<p class="busfont">{{changed.status}}</p>
<a href="//127.0.0.1:8000/siteadmin/ticket" class="bushref">Go Back?</a>
{% endif %}
{% endblock %}