{% extends 'baseLayout.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="admin">This is the admin Panel</h1>
</div>
{% if admin %}
<p class="centerfont">{{admin.error}}</p>
<img src="{% static 'download.jpg' %}" class="center" alt="...">
{% else %}
<table class="table table-striped">
    <thead>
<tr class="divadmin">
    <td>
    <button onclick="location.href = '{% url 'bus' %}';"class="siteadmin">Modify BUS Table</button>
    </td>
<!-- </tr> -->
<!-- <tr class="divadmin"> -->
    <td>
    <button onclick="location.href = '{% url 'route' %}';"class="siteadmin">Modify ROUTE Table</button>
    </td>
<!-- </tr> -->
<!-- <tr class="divadmin"> -->
<td>
    <button onclick="location.href = '{% url 'ticket' %}';"class="siteadmin">Modify TICKET Table</button>
    </td>
<!-- </tr> -->
<!-- <tr class="divadmin"> -->
<td>
    <button onclick="location.href = '{% url 'user' %}';"class="siteadmin">Modify USER Table</button>
    </td>
<!-- </tr> -->
<!-- <tr class="divadmin"> -->
<td>
    <button onclick="location.href = '{% url 'avail' %}';"class="siteadmin">Modify AVILABLE Table</button>
    </td>
</tr>

</thead>
</table>
{% endif %}
{% endblock %}