{% extends 'baseLayout.html' %}

{% block content %}


<!-- <form> -->
<form action="{% url 'booktic' %}" method="post">
    {% csrf_token %}
    <label for="source">Source: </label>
    <input type="text" class="source" placeholder="Enter Source" name="source">
    <label for="destination">Destination: </label>
    <input type="text" class="destination" placeholder="Enter Destination" name="dest">
    <label for="date">Date: </label>
    <input type="date" class="date" name="date">
    <button type="submit">Search</button>
</form>
<div><p></p></div>


{% endblock %}