{% extends 'baseLayout.html' %}

{% block content %}


<!-- <form> -->
<div class="busticdiv">
<form action="{% url 'booktic' %}" method="post">
    {% csrf_token %}
    <label for="source" class="busfont">Source: </label>
    <input type="text" class="source" placeholder="Enter Source" name="source" class="busticchange">
    <label for="destination" class="busfont">Destination: </label>
    <input type="text" class="destination" placeholder="Enter Destination" name="dest" class="busticchange">
    <label for="date" class="busfont">Date: </label>
    <input type="date" class="date" name="date" class="busticchange">
    <button type="submit" class="busformchangebut">Search</button>
</form>
</div>
<br><br>


<p class="busfont">{{err.error}}</p>
{% endblock %}