{% extends 'baseLayout.html' %}

{% block content %}
{% if bus %}
<table class="table table-striped">
    <thead>
        <td>ID </td>
        <td>BUS ID</td>
        <td>BUS Type</td>
        <td>Journey Time</td>
        <td>Journey Date</td>
        <td>Source</td>
        <td>Destination</td>
        <td>Seats Available</td>
        <td>Route ID</td>
    </thead>
{% for a in bus %}
    <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.bID }}</td>
    <td>{{ a.bID.busType }}</td>
    <td>{{ a.jTime }}</td>
    <td>{{ a.jDate }}</td>
    <td>{{ a.rID.source }}</td>
    <td>{{ a.rID.destination }}</td>
    <td>{{ a.bID.seats }}</td>
    <td>{{ a.rID }}</td>
</tr>
{% endfor %}
</table>
<div class="busdiv">
<form action="{% url 'book' %}" method="post">
    <h3 class="busfont">Choose bus to book</h3>
    {% csrf_token %}
    <label for="bid" class="busfont">ID: </label>
    <input type="number" placeholder="select the ID" name="bid" class="busticchange">
    <label for="seats" class="busfont">No. of Seats: </label>
    <input type="number" placeholder="select the number of seats" name="seats" class="busticchange">
    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="busformchangebut">Book bus</button>
    </div>

</form>
</div>
{% else %}
<p class="busfont">{{no.status}}</p>
<p class="busfont">{{err.error}}</p>
{% endif %}
{% endblock %}