{% extends 'baseLayout.html' %}

{% block content %}
<p>list view</p>
{% if bus %}
<table class="table table-striped">
    <thead>
        <td>ID </td>
        <td>BUS ID</td>
        <td>BUS Type</td>
        <td>Journey Time</td>
        <td>Journey Date</td>
        <td>Source</td>
        <td>Destination</td>
        <td>Seats Available</td>
        <td>Route ID</td>
    </thead>
{% for a in bus %}
    <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.bID }}</td>
    <td>{{ a.bID.busType }}</td>
    <td>{{ a.jTime }}</td>
    <td>{{ a.jDate }}</td>
    <td>{{ a.rID.source }}</td>
    <td>{{ a.rID.destination }}</td>
    <td>{{ a.bID.seats }}</td>
    <td>{{ a.rID }}</td>
</tr>
{% endfor %}
</table>
<form action="{% url 'book' %}" method="post">
    <h3>Choose bus to book</h3>
    {% csrf_token %}
    <label for="bid">ID: </label>
    <input type="text" placeholder="select the ID" name="bid">
    <label for="seats">No. of Seats: </label>
    <input type="number" placeholder="select the number of seats" name="seats">
    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary float-left">Book bus</button>
    </div>

</form>

{% else %}
{{ no.status}}
{{err.error}}
{% endif %}
{% endblock %}