{% extends 'baseLayout.html' %}

{% block content %}


<form action="{% url 'signUp' %}" method="post" class='signupform'> 
    {% csrf_token %}
    <div>
        <label for="fname" class='flable'>UserName:</label>
        <input type="text" class="fname" placeholder="Enter your Name" name='uname'>
    </div>
    <div>
        <label for="mail" class='lemail'>Email:</label>
        <input type="email" class="mail" placeholder="Enter Email" name='email'>
    </div>
    <div>
        <label for="password" class="lpass">Password: </label>
        <input type="text" class='password' placeholder="Enter Password" name='pass'>
    </div>
    <div>
        <input type="submit" class="bsubmit">
    </div>
</form>


{% endblock %}