body{
    background-color: #3700ffc0;
}

.header_cutomer_care_email{
    width: 80%;
    text-align: left;
    float: left;
}

.header_cutomer_care_number{
    width: 20%;
    text-align: right;
    float: right;
}

.flable{
    padding: 10px;
    margin: 25px;
}

.lemail{
    margin: 0px 25px;
}

.lpass{
    margin: 25px;
}

.lsubmit{
    margin: 25px;
}

.listofbus p{
    display: inline;
}